*{
    margin: 2px;
}
body{
    width: 200px;
    margin: 8px;
}
#notesContainer{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}
.active{
    visibility: visible;
}
.inactive{
    visibility: hidden;
}
.noteClass{
    border: 1px, solid, black;
    background-color: #ff6a00aa;
}
#addNote{
    border: 1px, solid, black;
    background-color: #ff6a00aa;
}
.buttonClass{
    border: 1px, solid, black;
    background-color: #ff6a00aa;
}
.noteTopClass{
    display: flex;
    justify-content: space-between;
}
.createNoteButtonDivClass{
    display: flex;
    justify-content: space-between;
}
.globalNoteDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}
.globalNoteDiv>*{
    font-size: 14px;
}
.userInput{
    width: 90%;
}